In [1]:
from datetime import date
dt =date(1981, 12,12)
print("My DOB  is ", dt)

My DOB  is  1981-12-12

In [2]:
print(date.today())

2021-12-28

In [6]:
print(date.today().year)

2021

In [7]:
from datetime import time
my_time = time(13, 24, 56)
print("Entered time", my_time)
my_time = time(minute = 12)
print("\nTime with one argument", my_time)
my_time = time()
print("\nTime without argument", my_time)

Entered time 13:24:56

Time with one argument 00:12:00

Time without argument 00:00:00

In [8]:
from datetime import datetime
a = datetime(1999, 12, 12)
print(a)
a = datetime(1999, 12, 12, 12, 12, 12, 342380)
print(a)

1999-12-12 00:00:00
1999-12-12 12:12:12.342380

In [9]:
from datetime import datetime
today = datetime.now()
print("Current date and time is", today)

Current date and time is 2021-12-28 20:44:16.088064

In [12]:
from datetime import datetime, timedelta
ini_time_for_now = datetime.now()
print ("initial_date", str(ini_time_for_now))
future_date_after_2yrs = ini_time_for_now + timedelta(days = 730)
future_date_after_2days = ini_time_for_now + timedelta(days = 2)
print('future_date_after_2yrs:', str(future_date_after_2yrs))
print('future_date_after_2days:', str(future_date_after_2days))

initial_date 2021-12-28 20:47:14.257012
future_date_after_2yrs: 2023-12-28 20:47:14.257012
future_date_after_2days: 2021-12-30 20:47:14.257012

In [13]:
import math
print(math.pi)

3.141592653589793

In [14]:
from math import pi
print(pi)

3.141592653589793

In [16]:
from math import *
print(pi)
print(factorial(6))

3.141592653589793
720

In [26]:
from Cars import bmw
from Cars import audi
from Cars import nissan

In [31]:
ModBMW = bmw.Bmw()
ModBMW.outModels()
ModAudi = audi.Audi()
ModAudi.outModels()
ModNissan = nissan.Nissan()
ModNissan.outModels()

These are the available models for BMW
	i8
	x1
	x5
	x6
These are the available models for Audi
	q7
	a6
	a8
	a3
These are the available models for Nissan
	altima
	370z
	cube
	rogue