In [61]:
import psycopg2
conn = psycopg2.connect(database ="netzwerkacademy", user = "netzwerk",
                        password = "netzwerk", host = "127.0.0.1", 
                        port = "5432")
  
print("Connection Successful to PostgreSQL")

Connection Successful to PostgreSQL

In [62]:
cursorObject = conn.cursor()

In [50]:
studentRecord = "CREATE TABLE STUDENT (NAME  VARCHAR(20) NOT NULL,  BRANCH VARCHAR(50), ROLL INT NOT NULL,SECTION VARCHAR(5), AGE INT)"
cursorObject.execute(studentRecord)
conn.commit()

In [54]:
sql = "INSERT INTO student(name, roll) VALUES ('karthikeya', 23)"
cursorObject.execute(sql)
conn.commit()
print(cursorObject.rowcount, "details inserted")
#disconnecting from server
#conn.close()

1 details inserted

In [55]:
sql = "Update student set branch='python', age=30, section='abc' where roll=23"
cursorObject.execute(sql)
conn.commit()
print(cursorObject.rowcount, "details updated")

1 details updated

In [56]:
sql = "INSERT INTO student(name, roll, age, branch, section) VALUES ('Gayatri',24, 24 ,'FSD','B2')"
cursorObject.execute(sql)
conn.commit()
print(cursorObject.rowcount,"details inserted")

1 details inserted

In [57]:
sql = "INSERT INTO student(name, roll, age, branch, section) VALUES ('Avinash', 01, 21, 'Patil', 'B1')"
cursorObject.execute(sql)
conn.commit()
print(cursorObject.rowcount,"details inserted")

1 details inserted

In [58]:
sql="insert into student (name,roll,age,branch, section) values ('raj',0205,22,'python','B1')"
cursorObject.execute(sql)
conn.commit()
print(cursorObject.rowcount,"details inserted")

1 details inserted

In [67]:
sql="Select name, roll, age, branch,section from student "
cursorObject.execute(sql)
result = cursorObject.fetchall()
for x in result:
    print(x)

('Gayatri', 24, 24, 'FSD', 'B2')
('Avinash', 1, 21, 'Patil', 'B1')
('raj', 205, 22, 'python', 'B1')

In [60]:
conn.close()

In [63]:
studentRecord = "Alter TABLE STUDENT add column phone VARCHAR(50) null"
cursorObject.execute(studentRecord)
conn.commit()

In [42]:
sql="truncate table student"
cursorObject.execute(sql)
conn.commit()

In [47]:
sql="drop table student"
cursorObject.execute(sql)
conn.commit()

In [64]:
sql="delete from student where roll=23"
cursorObject.execute(sql)
conn.commit()
print(cursorObject.rowcount,"details deleted")

1 details deleted